<div class="container" id="welcome">
  <div class="row">
    <div class="col-sm-12">
      <h1>Book Wars</h1>
    </div>
  </div>
  <div class="row" id="home-buttons">
    <div class="col-sm-6">
     <button id="button1"><a href="/top-rated">Top Rated Books</a></button>
    </div>
    <div class="col-sm-6">
     <button id="button2"><a href="/lookup">Rate a book</a></button>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>
