<div class="container">
    <form  action="/results" method ="POST">
     
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id = "inputTitle"  placeholder="The Handmaid's Tale" name="title">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="addBook">Submit</button>
    </form>
    
</div>