<nav></nav>
<div class="container">
    <h2>Book Lookup</h2>
    <form  action="/results" method ="POST">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id = "inputTitle"  placeholder="The Handmaid's Tale" name="title">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="addBook">Submit</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/addbook.js" type="text/javascript"></script>
