<div id="main-container" class="container">
<div class="jumbotron text-center header-wrap" align="center">
{{{message}}}
<form id="signin" name="signin" method="post" action="signin">
  <label for="email">Email Address</label>
  <input class="text" name="email" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <input class="btn" type="submit" id="submitbtn" value="Sign In" />
</form>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>