body {
  background-image: url("../images/book2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-image-repeat: no-repeat;
}

#errorMessage {
  padding-top: 5%;
  padding-left: 2%;
}

#welcome {
  padding-top: 15%;
  width: 75%;
}

#home-buttons {
  margin-right: 50%;
}

#button1 {
  border-radius: 25%;
  padding: 8%;
  width: 80%;
  background-color: #10083F;
}

#button2 {
  border-radius: 25%;
  padding: 8%;
  width: 80%;
  background-color: #10083F;
}

a {
  color: white;
  font-family:'Fredericka the Great', cursive;
}

a:hover {
  text-decoration: none;
  color: white;
}

h1 {
  font-family:'Fredericka the Great', cursive;
  font-size: 5rem;
}

h2 {
  font-family:'Fredericka the Great', cursive;
  font-size: 3rem;
  padding-top: 5%;
}

#lookup-form {
  width: 80%;
  margin-top: 2%;
  margin-left: 18%;
}

label {
  margin-right: 1%;
}
.modal{
    color:black;
}

.btn-index {
  color:white;
  background:#00adb5;
  border: 1px solid white;

#resultListing {
  padding: 2%;
}

<<<<<<< HEAD
#results {
  border-radius: 1%;
=======
#logout {
  padding: 1%;
}

.nav-link {
  color: black;
  font-size: 1rem;
}

img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  padding: 2%;
>>>>>>> cbf7145aee07b13f924b5edf8f9afe347c65a033
}