body {
    background:url("../images/login.jpg") repeat center fixed;
    color: white;
    background-size: cover;
    height:100%
}

#welcome {
  padding-top: 15%;
  width: 75%;
}

#home-buttons {
  margin-right: 50%;
}

#button1 {
  border-radius: 25%;
  padding: 8%;
  width: 80%;
  background-color: #10083F;
}

#button2 {
  border-radius: 25%;
  padding: 8%;
  width: 80%;
  background-color: #10083F;
}

a {
  color: white;
  font-family:'Fredericka the Great', cursive;
}

a:hover {
  text-decoration: none;
  color: white;
}

h1 {
  font-family:'Fredericka the Great', cursive;
  font-size: 5rem;
}

h2 {
  font-family:'Fredericka the Great', cursive;
  font-size: 3rem;
  padding-top: 5%;
}

#lookup-form {
  width: 80%;
  margin-top: 2%;
  margin-left: 18%;
}

label {
  margin-right: 1%;
}
.modal{
    color:black;
}

.btn-index {
  color:white;
  background:#00adb5;
  border: 1px solid white;
}