body {
  background-image: url("../images/book2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-image-repeat: no-repeat;
}

#errorMessage {
  padding-top: 5%;
  padding-left: 2%;
}

#welcome {
  padding-top: 15%;
  width: 75%;
}

#home-buttons {
  margin-right: 50%;
}

#button1 {
  border-radius: 25%;
  padding: 8%;
  width: 80%;
  background-color: #10083F;
}

#button1:hover {
  background-color: darkred;
}

#button2 {
  border-radius: 25%;
  padding: 8%;
  width: 80%;
  background-color: #10083F;
}

#button2:hover {
  background-color: darkred;
}

a {
  color: white;
  font-family:'Fredericka the Great', cursive;
}

a:hover {
  text-decoration: none;
  color: white;
}

h1 {
  font-family:'Fredericka the Great', cursive;
  font-size: 5rem;
}

h2 {
  font-family:'Fredericka the Great', cursive;
  font-size: 3rem;
  padding-top: 5%;
}

#lookup-form {
  width: 80%;
  margin-top: 2%;
  margin-left: 18%;
}

label {
  margin-right: 1%;
}
.modal{
    color:black;
}

.btn-index {
  color:white;
  background:#00adb5;
  border: 1px solid white;
}

#resultListing {
  padding: 2%;
}


#results {
  border-radius: 1%;
}

#logout {
  padding: 1%;
}

.nav-link {
  color: black;
  font-size: 1rem;
}

.nav-link:hover {
  color:darkred;
}

img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  padding: 2%;
}

#addBook {
  background-color: #10083F;
  border: none;
}

#addBook:hover {
  background-color: darkred;
  border: none;
}

 /*signin/signup modal btn styling  */
#sign-up {
  background-color: #10083F;
}

#sign-up:hover{
  background-color: darkred;
}

#sign-in-modal {
  background-color: #10083F;
}

#sign-in-modal:hover{
  background-color: darkred;
}

#submitbtn {
  background-color: #10083F;
  color: white;
}

#submitbtn:hover {
  background-color: darkred;
  color: white;
}

#bookAdded {
  background-color: #10083F;
  border: none;
}

#bookAdded:hover {
  background-color: darkred;
  border: none;
}